{% extends 'base.html' %}
{% block content %}
<section id="home">
    <h2>WELCOME TO LUNAR CRATER ANALYSIS!</h2>
    <p>Explore our eesearch and methodologies for enhancing Lunar crater data from Chandrayaan-2.</p>
</section>

<section id="reference">
    <h3>RESEARCH AND REFERENCE</h3>
    <p>Links for the Research papers, Tools, Dataset and Modules used.</p>
    <a href="/reference.html">Reference</a>
</section>

<section id="our-approach">
    <h3>OUR APPROACH</h3>
    <p>Learn about our unique approach to processing and analyzing Lunar crater data.</p>
    <a href="/our_approach.html">Our Approach</a>
</section>

{% endblock %}
