
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_reference.css">
</head>
<body>
    <h1>RESEARCH AND REFERENCE</h1>
    <h2> RESEARCH PAPERS :</h2>
            <p>● <a href="https://ieeexplore.ieee.org/document/10580917">Zero-Shot Parameter Learning Network for Low-Light Image Enhancement in Permanently Shadowed Regions | IEEE Journals & Magazine | IEEE Xplore</a><br>
            ● <a href="https://ieeexplore.ieee.org/document/10630798">Multi-Band NIR-Based Low-Light Image Enhancement via Dual-Teacher Cross Attention</a><br></p>
    <h2>REFERENCES :</h2>
            <p>● <a href="https://pytorch.org/docs/stable/index.html">PyTorch documentation — PyTorch 2.4 documentation</a><br>
            ● <a href="https://docs.opencv.org/4.x/index.html">OpenCV: OpenCV modules</a><br>
            ● <a href="https://docs.qgis.org/3.34/en/docs/index.html">Documentation for QGIS 3.34 — QGIS Documentation documentation</a><br>
            ● <a href="https://colab.research.google.com/drive/1XdDEGEElQWFaWHHpe4_JMPucWvJnlhSY#scrollTo=h3VO1TjQH5Uw">MIR-NET.ipynb - Colab (google.com)</a><br>
            ● <a href="https://keras.io/examples/vision/mirnet/">Low-light image enhancement using MIRNet (keras.io</a>)<br>
            ● <a href="https://keras.io/examples/vision/zero_dce/">Zero-DCE for low-light image enhancement (keras.io)</a><br>
            ● <a href="https://pradan.issdc.gov.in/">PRADAN (issdc.gov.in)</a><br></p>
<br><br>
<a id="last" href="/">Back to Home</a>
</body>

